version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: your-app-container
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=run.py
      - FLASK_ENV=development
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/venv
    restart: unless-stopped
    networks:
      - terus-network

networks:
  terus-network:
    driver: bridge
